{% extends 'base_layout.html' %}

{% block title %}<title>{{ product.name }}</title>{% endblock %}

{% block content %}
<div class="container">

    <h2>{{ product.name }}</h2>
    <h4>{{ product_category.name }}</h4>
    <div class="row">
        <p>Tags: {% for tag in product.tags.all %}{{ tag }}, {% endfor %}</p>
    </div>

    <div class="row">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="col s12 m4 l6">
        {% else %}
        <img src="https://picsum.photos/250" alt="no product image" class="col s12 m4 l6">
        {% endif %}
        <div class="col m8 l6">
            <p>{{ product.description }}</p>
            <h4>price per unit: ${{ product.price }} NZD</h4>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}