{% extends 'base_layout.html' %}

{% block title %} <title>{{ category.name }}</title> {% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <h1>{{ category.name }}</h1>
        <ul>
            {% for product in products %}
            <div class="row">
                <div class="card medium">
                    <div class="card-image">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img src="https://picsum.photos/250" alt="no product image">
                        {% endif %}
                        <span class="card-title">{{ product.name }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'wiki:product' product.id %}">Product Details</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}